[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "==0.100.0"
uvicorn = "==0.23.0"
tortoise-orm = "==0.19.3"
asyncpg = "==0.28.0"

[dev-packages]

[requires]
python_version = "3.10"
python_full_version = "3.10.6"
